@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {font-family: "Lato", sans-serif;}
button {background-color: #FFFFFF; border: none;}

.content { margin: 15px 30px;}

.head {text-align: center; margin-top: 35px;}
.head .title {display: inline-flex; align-items: center; justify-content: center;}
.head .title img {width: 5%; margin-right: 10px;}
.head .title h2 {font-weight: 900; font-size: 30px; padding: 7px; letter-spacing: 30px; text-transform: uppercase;}
.head p {font-size: 20px; padding: 7px; margin-top: 10px;}

.write { justify-self: center; margin-top: 50px;}
.write input {outline: none; border: none; border-bottom: 1.5px solid #ff6f6f; width: 600px; height: 25px; background-color: #FFFFFF;}
.write button {margin-left: 15px; font-size: 19px;}

.write input::placeholder {font-size: 18px; text-align: center;}
.write input-text {font-size: 18px;}

.advice {margin-top: 3%; text-align: center;}
.advice span {color: rgba(10, 10, 10, 0.6); padding: 5px;}
.advice span:first-child {display: block;}

.list {display: flex; margin: 4% 2%; justify-content: center;}
.list h3 {
  font-size: 20px; color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 5px; width:fit-content;
  padding: 5px; margin-bottom: 20px;
}

.list .todo h3{border: 1px solid #ff6f6f; background-color: #ff6f6f;}
.list .clear h3 {border: 1px solid #4bd269; background-color: #4bd269;}

.todo {width: 32%; float: left; padding: 5px;}
.clear {width: 32%; float: right; padding: 5px;}

.list li {padding: 6px; margin-bottom: 10px;}
.list li span {font-size: 20px;}

.todo li input[type="checkbox"], .clear li input[type="checkbox"] {margin: 0 10px 0 0;}
.todo button {float: right; font-size: 15px; cursor: pointer;}
.clear li {color: rgb(136, 136, 136);}

/* 미디어 쿼리 */
@media (max-width:480px) {
  .head .title img {width: 7%;}
  .head p {font-size: 15px;} 

  .write input {width: 300px;}
  .write input::placeholder {font-size: 15px;}

  .advice {margin-top: 5%;}

  .list {display: block;}
}

@media (max-width:767px) {
  .head .title h2 {letter-spacing: 15px; font-size: 25px;}

  .write input {width: 400px;}

  .list h3 {font-size: 17px;}

  .todo {width: 100%; margin-bottom: 20%;}
  .clear {width: 100%;}

  .list li span {font-size: 17px;}
}